*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    background: #000000;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	font-family: sans-serif;
}
.btn-1 {
	display: block;
	background: #ffffff;
	color: rgb(0, 0, 0);
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}
.btn-1:hover {
	background: #ffffffb0;
    color: rgba(0, 0, 0, 0.795);
}
.btn-2 {
	display: block;
	background: #a80000;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
	width: 320px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
}

.btn-2:hover {
	background: #a80000b0;
    color: rgba(255, 255, 255, 0.795);
}


p {
	color: rgb(255, 255, 255);
	padding: 15px;
}